/* .about-container {
    background-color: white;
    padding: 80px 40px;
    text-align: center;
  }
  
  h1.section-title {
    color: #00796b;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  h2.section-title {
    color: #00574b;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  p.section-description {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  p, li {
    color: #333;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  ul.feature-list {
    list-style-position: inside;
    margin-bottom: 40px;
  }
  
  .footer {
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-links a {
    color: #00796b;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .footer-links a:hover, .social-media a:hover {
    color: #004d40;
  }
  
  .social-media h3 {
    margin-bottom: 10px;
  }
  
  .social-media a {
    color: #00796b;
    font-size: 24px;
    margin-right: 15px;
    text-decoration: none;
  } */